.writingArea {
    width: 100%;
    height: 27%;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;

    .inputContainer {
        box-sizing: border-box;
        width: 95%;
        height: 90%;
        border-radius: 0.5rem;
        border: 1px solid #CCC;
        background-color: #FFF;
        padding: 1rem 0.4rem 1rem 2rem;
        display: flex;
        gap: 0.3rem;

        textarea {
            width: 95%;
            font-family: 'Roboto', sans-serif;
            height: 100%;
            font-size: 1.65rem;
            font-weight: 400;
            resize: none;
            border: none;
            outline: none;
        }

        .saveNoteButton {
            height: 1.7rem;
            align-self: flex-end;
            cursor: pointer;
        }

    }
}

@media screen and (max-width: 675px) {
    .writingArea {
        height: 22%;

        .inputContainer {
            padding-left: 1.3rem;
            textarea {
                font-size: 1.3rem;
            }
        }
    }
}